@import "tailwindcss";

@theme {
 /* Primary Colors */
 --color-primary-50: oklch(0.97 0.02 110.06); /* #f7f7ee */
 --color-primary-100: oklch(0.92 0.04 110.06); /* #eeedd9 */
 --color-primary-200: oklch(0.85 0.07 110.06); /* #deddb8 */
 --color-primary-300: oklch(0.75 0.12 110.06); /* #c8c78e */
 --color-primary-400: oklch(0.65 0.17 110.06); /* #b1b269 */
 --color-primary-500: oklch(0.6 0.2 110.06);  /* #a7a955 */
 --color-primary-600: oklch(0.45 0.2 110.06); /* #747739 */
 --color-primary-700: oklch(0.35 0.2 110.06); /* #5a5c2f */
 --color-primary-800: oklch(0.25 0.2 110.06); /* #484a2a */
 --color-primary-900: oklch(0.2 0.2 110.06);  /* #3e4027 */
 --color-primary-950: oklch(0.1 0.2 110.06);  /* #202211 */

 /* Secondary Colors */
 --color-secondary-50: oklch(0.97 0.15 20);  /* #fff1f3 */
 --color-secondary-100: oklch(0.92 0.2 20);  /* #ffe4e7 */
 --color-secondary-200: oklch(0.85 0.3 20);  /* #fecdd5 */
 --color-secondary-300: oklch(0.8 0.109 9);  /* #fca1b0 */
 --color-secondary-400: oklch(0.65 0.5 20);  /* #fa728c */
 --color-secondary-500: oklch(0.6 0.6 20);   /* #f24166 */
 --color-secondary-600: oklch(0.5 0.6 20);   /* #df1f51 */
 --color-secondary-700: oklch(0.4 0.6 20);   /* #bc1444 */
 --color-secondary-800: oklch(0.3 0.6 20);   /* #9e1340 */
 --color-secondary-900: oklch(0.25 0.6 20);  /* #87143c */
 --color-secondary-950: oklch(0.15 0.6 20);  /* #4b061c */

 
  /* Tertiary Colors */
  --color-tertiary-50: oklch(0.96 0.02 85);   /* #f8f6f4 */
  --color-tertiary-100: oklch(0.92 0.03 85);  /* #efebe5 */
  --color-tertiary-200: oklch(0.85 0.05 85);  /* #ddd5cb */
  --color-tertiary-300: oklch(0.8 0.06 85);   /* #d2c6ba */
  --color-tertiary-400: oklch(0.7 0.1 85);    /* #b09987 */
  --color-tertiary-500: oklch(0.65 0.12 85);  /* #a0826f */
  --color-tertiary-600: oklch(0.6 0.12 85);   /* #937263 */
  --color-tertiary-700: oklch(0.5 0.12 85);   /* #7b5f53 */
  --color-tertiary-800: oklch(0.4 0.12 85);   /* #654f47 */
  --color-tertiary-900: oklch(0.3 0.12 85);   /* #52413c */
  --color-tertiary-950: oklch(0.15 0.12 85);  /* #2c211e */


}